# Dependencies
node_modules/
jspm_packages/

# Environment variables & secrets (Найважливіше!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Native folders (якщо ви не використовуєте Expo prebuild / bare workflow)
# ios/
# android/

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Editor & OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp